footer.footer
    .wrapper
        .footer-box
            .footer-promo
                a.footer-logo(href="/")
                    img(src="./img/logo.svg" alt="logo")
                .footer-def © 2017 Все права защищены 
                a.footer-contact( href="tel:+0 800 500 00 50") 0 800 500 00 50
                a.footer-contact(href="mailto:nfo@viptransfer.do") nfo@viptransfer.do
            a.footer-btn(href="/")
            .footer-inform
                ul.footer-nav
                    li
                        a(href="/") Главная 
                        span /
                    li
                        a(href="/") О компании 
                        span /
                    li
                        a(href="/") Сервис
                        span /
                    li
                        a(href="/") Online-Бронирование 
                        span /
                    li
                        a(href="/") Контакты
                ul.pay
                    li
                        a.pay-item.pay-item-viza(href='')
                    li
                        a.pay-item.pay-item-master(href='')
                    li
                        a.pay-item.pay-item-american(href='')
            ul.pay
                li
                    a.pay-item.pay-item-viza(href='')
                li
                    a.pay-item.pay-item-master(href='')
                li
                    a.pay-item.pay-item-american(href='')