header.App-header
    .header
        .wrapper
            .header-box
                .header-box-logo
                    a.logo(href="")
                        img(src="./img/logo.svg" alt="logo")
                nav.header-main-nav
                    ul.nav-list
                        li
                            a.active(href="/") Главная
                        li
                            a(href="/about") О компании
                        li
                            a(href="/services") Сервис 
                        li
                            a(href="/online") Online-Бронирование
                        li
                            a(href="/contact") Контакты

                .hamburger.hamburger--spin.js-hamburger
                    .hamburger-box
                        .hamburger-inner
                nav.header-mobile-nav
                    ul.nav-list
                        li
                            a.active(href="/") Главная
                        li
                            a(href="/about") О компании
                        li
                            a(href="/services") Сервис 
                        li
                            a(href="/online") Online-Бронирование
                        li
                            a(href="/contact") Контакты