doctype html
html(lang="ru")
    head
        meta(charset ='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description' content='')
        meta(name='viewport' content='initial-scale=1.0, width=device-width')
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700,900" rel="stylesheet")
        link(rel='stylesheet' href='css/jquery.fancybox.min.css')
        link(rel='stylesheet' href='css/styles.min.css')
        title new
    body
        
        include components/header.pug

        main.main-wrap.main-wrap-styled.main-wrap-padding
            .breadcrumbs
                .wrapper
                  ul.breadcrumbs-list
                    li
                        a(href="") Главная
                        span /
                    li
                        a(href="") Сервис
                        span /
                    li Автомобили в Аренде
            section.other
                .wrapper
                    h2.other-ttl Автомобили в Аренде
                    .other-box
                        .other-item(href="/")
                            a.other-img(href="")
                                img(src="./img/Parking_maserati.png" alt="img")
                            a.other-item-ttl(href="") Maserati Gran Cabrio
                            .other-item-content
                                .other-item-price 28евро.день
                                ul.other-item-about-list
                                    li Кондиционер
                                    li 4× Пассажиров
                                    li Бензин
                            a.btn-other(href="") Заказать
                        .other-item(href="/")
                            a.other-img(href="")
                                img(src="./img/Parking_porshe.png" alt="img")
                            a.other-item-ttl(href="") Porshe Boxter
                            .other-item-content
                                .other-item-price 28евро.день
                                ul.other-item-about-list
                                    li Кондиционер
                                    li 4× Пассажиров
                                    li Бензин
                            a.btn-other(href="") Заказать
                        .other-item(href="/")
                            a.other-img(href="")
                                img(src="./img/Parking_kia.png" alt="img")
                            a.other-item-ttl(href="") KIA picanto
                            .other-item-content
                                .other-item-price 28евро.день
                                ul.other-item-about-list
                                    li Кондиционер
                                    li 4× Пассажиров
                                    li Бензин
                            a.btn-other(href="") Заказать
                        .other-item(href="/")
                            a.other-img(href="")
                                img(src="./img/Parking_maserati.png" alt="img")
                            a.other-item-ttl(href="") Maserati Gran Cabrio
                            .other-item-content
                                .other-item-price 28евро.день
                                ul.other-item-about-list
                                    li Кондиционер
                                    li 4× Пассажиров
                                    li Бензин
                            a.btn-other(href="") Заказать
                        .other-item(href="/")
                            a.other-img(href="")
                                img(src="./img/Parking_porshe.png" alt="img")
                            a.other-item-ttl(href="") Porshe Boxter
                            .other-item-content
                                .other-item-price 28евро.день
                                ul.other-item-about-list
                                    li Кондиционер
                                    li 4× Пассажиров
                                    li Бензин
                            a.btn-other(href="") Заказать
                        .other-item(href="/")
                            a.other-img(href="")
                                img(src="./img/Parking_kia.png" alt="img")
                            a.other-item-ttl(href="") KIA picanto
                            .other-item-content
                                .other-item-price 28евро.день
                                ul.other-item-about-list
                                    li Кондиционер
                                    li 4× Пассажиров
                                    li Бензин
                            a.btn-other(href="") Заказать
                        .other-item(href="/")
                            a.other-img(href="")
                                img(src="./img/Parking_maserati.png" alt="img")
                            a.other-item-ttl(href="") Maserati Gran Cabrio
                            .other-item-content
                                .other-item-price 28евро.день
                                ul.other-item-about-list
                                    li Кондиционер
                                    li 4× Пассажиров
                                    li Бензин
                            a.btn-other(href="") Заказать
                        .other-item(href="/")
                            a.other-img(href="")
                                img(src="./img/Parking_porshe.png" alt="img")
                            a.other-item-ttl(href="") Porshe Boxter
                            .other-item-content
                                .other-item-price 28евро.день
                                ul.other-item-about-list
                                    li Кондиционер
                                    li 4× Пассажиров
                                    li Бензин
                            a.btn-other(href="") Заказать
                        .other-item(href="/")
                            a.other-img(href="")
                                img(src="./img/Parking_kia.png" alt="img")
                            a.other-item-ttl(href="") KIA picanto
                            .other-item-content
                                .other-item-price 28евро.день
                                ul.other-item-about-list
                                    li Кондиционер
                                    li 4× Пассажиров
                                    li Бензин
                            a.btn-other(href="") Заказать

             section.transfer
                .wrapper.wrapper-bg
                    h2.transfer-ttl VIP Transfer - Лидер на рынке аренды автомобилей
                    .transfer-content
                        p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо.
                        p Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку.
                        p Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный реторический вопрос скатился по его щеке и он продолжил свой путь. По дороге встретил текст рукопись.


        include components/footer.pug                        
        include components/script.pug