doctype html
html(lang="ru")
    head
        meta(charset ='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description' content='')
        meta(name='viewport' content='initial-scale=1.0, width=device-width')
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700,900" rel="stylesheet")
        link(rel='stylesheet' href='css/jquery.fancybox.min.css')
        link(rel='stylesheet' href='css/styles.min.css')
        title new
    body
        
        include components/header.pug

        main.main-wrap.main-wrap-padding.main-wrap-styled
            .breadcrumbs
                .wrapper
                  ul.breadcrumbs-list
                    li
                        a(href="") Главная
                        span /
                    li
                        a(href="") Аренда авто
                        span /
                    li Mersedes S500 coupe
            section.cart
                .wrapper
                    .cart-box
                        .cart-gallery
                            a.cart-gallery-item-large(href="img/prod.jpg" data-fancybox="group")
                                .cart-img
                                    img(src="img/product.jpg" alt="product")
                            .cart-gallery-box
                                a.cart-gallery-item(href="img/product.jpg" data-fancybox="group")
                                    .cart-img
                                        img(src="img/product.jpg" alt="product")
                                a.cart-gallery-item(href="img/product.jpg" data-fancybox="group")
                                    .cart-img
                                        img(src="img/product.jpg" alt="product")
                                a.cart-gallery-item(href="img/product.jpg" data-fancybox="group")
                                    .cart-img
                                        img(src="img/product.jpg" alt="product")
                            .cart-more
                                .cart-more-descr
                                    h2 Дополнительная информация
                                    p Предоплата и кредитная карта не требуется - платите при получении авто! Дополнительные функции: USB, Bluetooth, AUX, climat control, leather saloon
                        .cart-about
                            h3.cart-name Mersedes S500 coupe
                            ul.cart-about-info
                                li Кондиционер
                                li 4× Количество багажа
                                li 5× Пассажиров
                                li Бензин
                                li 5× Дверей
                                li Передача: автомат
                                li Бесплатное расстояние: Неограничено
                                li Депозит: € 900


                            ul.cart-about-prices-list
                                li
                                    p Цена
                                li 
                                    span 1 день:        
                                    span 170 EUR / день
                                li 
                                    span 2 дня:         
                                    span  130 EUR / день
                                li 
                                    span 5 дней:        
                                    span 110 EUR / день
                                li 
                                    span 10 дней:       
                                    span  90 EUR / день 
                            a.btn-add-cart(href="") Забронировать это авто
                        .cart-more
                            .cart-more-descr
                                h2 Дополнительная информация
                                p Предоплата и кредитная карта не требуется - платите при получении авто! Дополнительные функции: USB, Bluetooth, AUX, climat control, leather saloon                       
                            a.btn-add-cart(href="") Забронировать это авто

                section.other
                    .wrapper
                        h2.other-ttl Смотрите также
                        .other-box
                            .other-item(href="/")
                                a.other-img(href="")
                                    img(src="./img/Parking_maserati.png" alt="img")
                                a.other-item-ttl(href="") Maserati Gran Cabrio
                                .other-item-content
                                    .other-item-price 28евро.день
                                    ul.other-item-about-list
                                        li Кондиционер
                                        li 4× Пассажиров
                                        li Бензин
                                a.btn-other(href="") Заказать
                            .other-item(href="/")
                                a.other-img(href="")
                                    img(src="./img/Parking_porshe.png" alt="img")
                                a.other-item-ttl(href="") Porshe Boxter
                                .other-item-content
                                    .other-item-price 28евро.день
                                    ul.other-item-about-list
                                        li Кондиционер
                                        li 4× Пассажиров
                                        li Бензин
                                a.btn-other(href="") Заказать
                            .other-item(href="/")
                                a.other-img(href="")
                                    img(src="./img/Parking_kia.png" alt="img")
                                a.other-item-ttl(href="") KIA picanto
                                .other-item-content
                                    .other-item-price 28евро.день
                                    ul.other-item-about-list
                                        li Кондиционер
                                        li 4× Пассажиров
                                        li Бензин
                                a.btn-other(href="") Заказать

        include components/footer.pug
        include components/script.pug